@using BytexDigital.Blazor.Components.CookieConsent.Internal
@using Microsoft.Extensions.Options
@using System.Globalization

@if (IsAllowed)
{
    @Allowed
}
else
{
    if (NotAllowed != null)
    {
        @NotAllowed(this)
    }
    else
    {
        <div class="cc:w-full cc:h-full cc:bg-coolgray-100 cc:flex cc:flex-col cc:items-center cc:justify-center cc:p-6">
            <p class="tw:text-xs cc:text-center">
                @Options.Value.CheckOptions.Text.GetLocalization(CultureInfo.CurrentCulture.TwoLetterISOLanguageName, Options.Value.DefaultLocalizationCode)
            </p>

            <p class="tw:text-sm cc:text-center cc:font-semibold cc:mt-2">
                @Category.TitleText.GetLocalization(CultureInfo.CurrentCulture.TwoLetterISOLanguageName, Options.Value.DefaultLocalizationCode)
            </p>

            <div class="cc:mt-5 cc:flex cc:flex-wrap cc:justify-center cc:gap-5">
                <button @onclick="AcceptRequiredAsync" class="cc:block cc:p-3 cc:px-5  cc:rounded-md cc:bg-bluegray-800 cc:text-white cc:text-sm cc:font-semibold hover:cc:bg-bluegray-900 cc:transition-all cc:duration-100 cc:ease-in-out">
                    @Options.Value.CheckOptions.AcceptText.GetLocalization(CultureInfo.CurrentCulture.TwoLetterISOLanguageName, Options.Value.DefaultLocalizationCode)
                </button>

                <button @onclick="async () => await CookieConsentService.ShowSettingsModalAsync()" class="cc:text-sm cc:text-bluegray-700 hover:cc:text-blue-500 cc:transition-all cc:duration-100 cc:ease-in-out cc:flex cc:items-center">
                    @Options.Value.ConsentOpenPreferencesText.GetLocalization(CultureInfo.CurrentCulture.TwoLetterISOLanguageName, Options.Value.DefaultLocalizationCode)
                </button>
            </div>
        </div>
    }
}